@import "../../../styles/mediaqueries";
@import "../../../styles/variables";

.postContent {
  padding: 0;

  transform: translate(0);

  & > p {
    padding-bottom: 3rem;
    line-height: 2.8rem;
    font-family: $font-secondary;
    color: var(--text-color);

    & > a {
      color: $primary-main;
    }

    & > strong {
      color: var(--text-color);
      text-decoration: underline;
    }
  }

  & > pre {
    padding-bottom: 3rem;
  }
}
