// colors
$primary-main: #00a8cc;
$primary-dark: #001099;
$primary-white: #ffffff;
$primary-black: #202020;
$primary-gray: #e1e1e1;

// fonts
$default-font-size: 2.1rem;

$font-main: "Poppins", sans-serif;
$font-secondary: "Roboto", sans-serif;

// spacing
$header-height: 60rem;
