// colors
$primary-main: #00A8CC;
$primary-dark: #001099;
$primary-white: #FFFFFF;
$primary-black: #202020;
$primary-gray: #E1E1E1;

// fonts
$default-font-size: 2.1rem;

$font-main: 'Poppins', sans-serif;
$font-secondary: 'Roboto', sans-serif;

// spacing
$header-height: 60rem;